@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/*mixin con parametros*/
/*estilos general de todo el documento*/
html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: white;
  font-family: "balsamiq sans", sans-serif;
  width: 100%;
}

.grid-container {
  /*width: 900px*/
  display: flexbox;
  flex-direction: row;
}

/*estilos header*/
header {
  display: flex;
  flex-direction: column;
}
header .encabezado {
  background-image: linear-gradient(to right, beige, pink);
  text-align: center;
  font-family: "balsamiq sans";
  margin: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  font-family: "balsamiq sans";
  font-size: 1rem;
  margin-top: 0;
}
header .enviosgratis {
  font-size: 1rem;
  padding-top: 10px;
}
header .encabezado1 {
  display: flex;
  justify-content: space-between;
}
header .header-logo {
  width: 160px;
  padding-top: 5px;
}
header .header-logo-image {
  width: 160px;
  padding-top: 5px;
}
header .headertop {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
header .headertopuser {
  padding: 0px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin: 0px;
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
}
header .headeritem {
  display: flex;
  font-family: "balsamiq sans";
  font-style: none;
  flex-direction: row;
  text-align: right;
  align-items: stretch;
  color: black;
  text-decoration: none;
  text-decoration-line: none;
  margin-right: 30px;
  text-shadow: none;
  text-rendering: none;
  text-decoration-line: none;
}
header .userlink {
  font-family: "balsamiq sans";
  font-style: none;
  text-decoration: none;
  color: black;
  display: inline-block;
}

/*estilo nav*/
.nav {
  justify-content: center;
  display: inline;
}
.nav ul {
  justify-content: center;
  display: inline;
}
.nav li {
  justify-content: center;
  display: inline;
}
.nav .nav-item {
  font-family: "balsamiq sans";
  font-size: 20px;
  font-style: none;
  text-transform: initial;
}
.nav .nav-link {
  color: black !important;
}
.nav .nav, .nav .nav-link:hover {
  color: aquamarine !important;
}

/*estilo footer*/
.footer {
  display: block;
  flex-direction: row;
  padding: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  right: 0;
  background-color: white;
}
.footer .footer__top {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba 0, 0, 0, 0.1;
}
.footer .footer__top__icon {
  width: 60px;
  align-items: center;
  display: inline-block;
}
.footer .bordered-rounded {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 20px;
  margin: 200px;
}

/*main index*/
main .promo {
  padding: 30px;
}
main .section_subtitle {
  font-family: "balsamiq sans";
  font-size: 40px;
  color: black;
}
main .section_title {
  font-family: "balsamiq sans";
  font-size: 20px;
  color: black;
}
main .navidad {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
main .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
main .text-bg-dark {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
main .card-title2 {
  color: black;
  font-family: "balsamiq sans";
  font-size: 60px;
}
main .card-title-ingreso {
  font-family: "balsamiq sans";
  font-size: 20px;
}
main .card-text-ingreso {
  font-family: "balsamiq sans";
  font-size: 15px;
}
main .ingresos {
  display: flex;
  padding: 100px;
  gap: 20px;
}
main .arrivals {
  padding: 60px;
}
main .section_subtitle2 {
  font-family: "balsamiq sans";
  font-size: 50px;
}
main .section_title2 {
  font-family: "balsamiq sans";
  font-size: 40px;
}
main .section3, main img {
  justify-content: center;
  display: flex;
}
main .subscription.bg-white {
  background: none;
  font-family: "balsamiq sans";
}
main .bg-white {
  background-color: #fff !important;
  padding-bottom: 400px;
}
main .subscription.bg-white .subscription-wrapper {
  background: #fff;
}
main .subscription-wrapper {
  border-radius: 0% 5% 10% 3%/10% 20% 0% 17%;
  -webkit-transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
  transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
  padding: 70px 50px;
  z-index: 1;
  width: 100%;
  background: linear-gradient(80deg, pink 0%, #00a4db 100%);
  position: absolute;
  top: 100px;
}
main .subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important;
}
main .subscription-content {
  -webkit-transform: skewY(-1deg);
  transform: skewY(-1deg);
}
main h3, main .h3 {
  font-size: 30px;
}
main .flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
main .subscription.bg-white .form-control {
  border: 1px solid #ebebeb !important;
}
main .subscription-wrapper .form-control {
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 45px;
}
main .subscription-wrapper .form-control:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: 0;
  box-shadow: none;
}
main .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
main .btn-primary {
  border: 0;
  color: #fff;
}
main .btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 18px 45px;
  border-radius: 45px;
  font-weight: 500;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
}
main .btn-primary:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: linear-gradient(to right, pink, #89e2d3);
  z-index: -1;
  transition: ease 0.3s;
}

/*main-pag1*/
main .section_titlepag1 {
  font-family: "balsamiq sans";
  font-size: 30px;
}
main .sectionpag1 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 100px;
}
main .todoslosproductos {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 20px;
}

/*main pag2*/
main .titulopag2 {
  justify-content: center;
  padding-top: 50px;
  font-family: "balsamiq sans";
  display: flex;
  font-size: 50px;
}
main .imagenlume {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
main .text {
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 1rem;
  margin: 100px;
  font-family: "balsamiq sans";
}
main .text, main p {
  font-family: "balsamiq sans";
  font-size: 30px;
  justify-content: center;
}

/*main pag3*/
main .titulopag3 {
  display: flex;
  font-family: "balsamiq sans";
  justify-content: center;
  padding-top: 50px;
  font-size: 30px;
}
main .ptext {
  font-family: "balsamiq sans";
  color: black;
  font-size: 15px;
}
main .image {
  max-width: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
main .aclaracion {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "balsamiq sans";
}
main .canjear {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "balsamiq sans";
}
main .giftcards {
  padding-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
main .comprargift {
  font-family: "balsamiq sans";
}
main .pasosgift, main .pasos {
  font-family: "balsamiq sans";
  color: black;
  font-size: 20px;
}
main .textcanjear {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  font-family: "balsamiq sans";
  font-size: 20px;
  padding-bottom: 100px;
  padding-top: 20px;
}

/*main pag 4*/
main h1 {
  font-size: 50px;
  padding: 20px;
  color: blueviolet;
}
main dl {
  font-family: "balsamiq sans";
  margin: 20px;
  padding: 10px;
}

/*indexresponsive*/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: 80px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .headeritem {
    margin-right: 100px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
    max-width: 100%;
    padding-bottom: 280px;
  }
  .ingresos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscription, .container {
    margin-left: 2px;
    margin-right: 100px;
  }
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    justify-content: center;
    padding-top: 200px;
  }
  .footer__top__icons {
    justify-content: center;
    display: inline-block;
    margin-right: 120px;
    padding-bottom: 30px;
  }
  .copyright {
    margin-left: 40px;
    margin-right: 100px;
    text-align: justify;
  }
}
@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
  }
  .header-logo {
    display: flex;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 8px;
  }
  .headeritem {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .enviosgratis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  .navidad {
    justify-content: center;
    margin-right: 0px;
  }
  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section_subtitle2 {
    font-size: medium;
  }
  .ingresos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-right: 20px;
  }
  .copyright {
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
  }
}
/**RESPONSIVE PAG 1 PRODUCTOS **/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: headerr;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  .ingresos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    grid-area: footer;
    padding-top: 300px;
  }
}
@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrouse carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  .promo, .container {
    display: contents;
    flex-direction: column;
    max-width: 100%;
    margin-left: 2px;
  }
  .section_titlepag1 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .footer {
    grid-area: footer;
    padding-top: 300px;
    margin-left: 50px;
  }
}
/*sobrelume responsive*/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: 30px;
    padding-bottom: 5px;
  }
  .headeritem {
    margin-right: 50px;
    padding-top: 20px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  .text {
    text-align: justify;
    font-size: 5px;
    font-family: "balsamiq sans";
    justify-content: center;
    margin-left: 80px;
  }
  .footer {
    grid-area: footer;
    justify-content: center;
    margin-left: 10px;
    text-align: justify;
    margin-right: 0px;
  }
}
@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: auto;
    padding-bottom: 5px;
  }
  .headeritem {
    margin-right: 8px;
    padding-top: 20px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  .navidad {
    justify-content: center;
    margin-right: 0px;
  }
  .text, p {
    text-align: justify;
    font-size: 20px;
    font-family: "balsamiq sans";
    justify-content: center;
    margin: auto;
    padding-top: auto;
  }
  .footer {
    grid-area: footer;
    justify-content: center;
    margin-left: 10px;
    text-align: justify;
    margin-right: 0px;
  }
}
/** RESPONSIVE PAG 3 GIFT CARDS **/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrouse carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: 30px;
    padding-bottom: 5px;
  }
  .headeritem {
    display: flex;
    margin-right: 100px;
    padding-top: 20px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
    padding-bottom: 5px;
  }
  .pasosgift {
    justify-content: center;
    text-align: justify;
    margin-right: 30px;
    font-size: 25px;
  }
  .ptext {
    font-size: 18px;
  }
  .image {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aclaracion {
    margin-left: 25px;
  }
  .textcanjear {
    text-align: justify;
    font-size: 20px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: auto;
    padding-bottom: 5px;
  }
  .header-logo-image {
    width: 120px;
  }
  .headertopuser {
    max-width: 100%;
    margin-right: 5px;
  }
  .headeritem {
    margin-right: 8px;
    padding-top: 20px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 150px;
    padding-top: 20px;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
    max-width: 100%;
    padding-bottom: 80px;
  }
  .pasosgift {
    justify-content: center;
    text-align: justify;
    max-width: 100%;
    font-size: 20px;
  }
  .ptext {
    font-size: 18px;
  }
  .image {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-left: 20px;
  }
  .aclaracion {
    margin-left: 25px;
  }
  .textcanjear {
    text-align: justify;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 50px;
  }
  .footer {
    grid-area: footer;
  }
}
/**RESPONSIVE PAG 4 PREGUNTAS FRECUENTES **/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: 30px;
    padding-bottom: 5px;
  }
  .headeritem {
    display: flex;
    margin-right: 100px;
    padding-top: 20px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  dl {
    text-align: justify;
    justify-content: center;
    font-size: 20px;
  }
  .footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 500px 200px;
    grid-template-areas: "header header" "nav nav" "carrousel carrousel" "main main" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .header-logo {
    margin-left: auto;
    padding-bottom: 5px;
  }
  .header-logo-image {
    width: 120px;
  }
  .headertopuser {
    max-width: 100%;
    margin-right: 5px;
  }
  .headeritem {
    margin-right: 8px;
    padding-top: 20px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .carrousel {
    grid-area: carrousel;
  }
  .main {
    grid-area: main;
  }
  dl {
    text-align: justify;
    justify-content: center;
    font-size: 20px;
  }
  .footer {
    grid-area: footer;
  }
}

/*# sourceMappingURL=main.css.map */
