$color_1: black;
$color_2: aquamarine;
$color_3: #fff;
$color_4: blueviolet;
$font-family_1: "balsamiq sans", sans-serif;
$font-family_2: "balsamiq sans";
$font-family_3: "Poppins", sans-serif;
$background-color_1: white;
$background-color_2: #fff;
$border-top-color_1: rgba (0,0,0,0.1);
