/*main pag 4*/

main{
    h1{
        font-size: 50px;
        padding: 20px;
        color: $color_4;
    
    }
    
    dl{
        font-family: "balsamiq sans";
        margin: 20px;
        padding: 10px;
    }
    
}