/*estilo nav*/

.nav{
    justify-content: center;
    display: inline;

    ul{
        justify-content: center;
        display: inline;
    }

    li{
        justify-content: center;
        display: inline;        
    }

    .nav-item{
        font-family: "balsamiq sans";
        font-size: 20px;
        font-style: none;
        text-transform: initial;
    }
    
    .nav-link{
        color: black !important;
        
    }
    
    .nav, .nav-link:hover
    {
        color: aquamarine !important;
    }
    
}